
h1{
    
    font-weight: bolder;
}
body {
    font-family: Arial, sans-serif;
    background-color: #1a6ec3;
}

.container {
    margin-top: 100px;
}

#result {
    margin-top: 20px;
    font-weight: bold;
}
.card{
    max-width: 600px;
    width: 80%;
    margin: auto;
    background-color: #b7c4d2;
}
#number{
     color: #1a6ec3;
     text-align: center;
     font-size: auto;
    
}
#calculateBtn{
    background-color: #107cef;
    max-width: auto;
}




